/* aca vamos a poner nuestro diseño de las paginas por default
/* muse.css - estilos personalizados para M.U.S.E */

.page-header {
    background: linear-gradient(135deg, #b58df1, #c0a3f8) !important;
  }
  
  .mask.bg-gradient-dark {
    background: rgba(255, 255, 255, 0.4) !important;
  }
  
  h1,
  h5,
  p {
    font-family: "Inter", sans-serif;
  }
  
  input.form-control {
    border: 1px solid #b58df1;
    color: #4c4c4c;
  }
  
  input.form-control:focus {
    border-color: #a678e2;
    box-shadow: 0 0 0 0.2rem rgba(181, 141, 241, 0.25);
  }
  
  .btn.bg-gradient-dark {
    background: linear-gradient(135deg, #a678e2, #8f5de0);
    border: none;
  }
  
  .btn.bg-gradient-dark:hover {
    background: linear-gradient(135deg, #925df5, #743fd6);
  }
  
  .form-check-input:checked {
    background-color: #b58df1;
    border-color: #b58df1;
  }
  